$primary-color: pink;
$secondary-color: red;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
}

.App {
  height: 100%;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 2.5em;
  margin: 2em 0;
}

.heading {
  font-size: 3em;
  font-weight: 500;
  margin: 1em;
  text-align: center;
}

.subtitle {
  font-weight: 400;
  text-align: center;
  margin: 0 4em;
}
.upload__form {
  text-align: center;
  margin: 2em 0;
}

.upload__label p {
  font-size: 0.8em;
}
.upload__label input {
  height: 0;
  width: 0;
  opacity: 0;
}
.upload__icon {
  font-size: 2em;
  transition: 0.3s all ease-in-out;
}

.upload__icon:hover {
  color: teal;
}

//progress bar
.progress-bar-container {
  height: 10px;
  width: 15em;
  margin: 1em 0;
  border-radius: 20px;
  display: inline-block;
  background-color: teal;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%);
}

.file__name {
  font-size: 0.8em;
  color: teal;
  margin: 1em 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.grid {
  display: grid;
  // here
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  min-height: 30em;
  max-width: 50em;
  margin: 8em auto;
  background-color: cadetblue;
}

.item {
  background-color: teal;
  max-height: 20em;
  max-width: 10em;
}
